CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
/.vs/
/cmake-build-debug/
/cmake-build-release/
/cmake-build-private/
/cmake-build-private-debug/
/cmake-build-release-private/
/out/
CMakeSettings.json
/cryptopp-cmake/
/Includes/magic_vtable/

